// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//setting font default
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #73AD9F;
  color: white;
}

// form fields styling
input {
  color: black;
}
textarea {
  color: black;
}

//all links
a {
  color: white;
}
a:hover {
  color: black;
  text-decoration: none;
}

//all buttons

input[type=submit] {
  background-color: white;
  color: #73AD9F;
  margin: 5px 0;
}

//header styling
header {
  background-color: rgba(255,255,255,0.2);
  padding: 40px 0;
}

header h1, {
  margin: 0;
  padding-left: 15px;
  font-size: 2.7em;
}

header h2 {
  padding-left: 15px;
}

//round icons
.glyphicon {
  text-align: center;
  font-size: 4em;
  margin: 40px auto;
  padding: 30px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 100%;
  color: white;
}

div.icon {
  display: table;
}

// GRID
.col-sm-4 h1{
  text-align: center;
  font-size: 2.5em;
}

.media-block {
  //padding: 10px 0;
}
