// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vote, .vote:hover {
  // height: 70px;
  // width: 70px;
  // border-radius: 100%;
  border: 2px #3E736B solid;
}

.adjust-left {
  padding-left: 30px;
}

td {
  width: 20%;
}
