// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-page {
  padding-left: 30px;
}

.show-nav {
  color: #73AD9F;
}

.deletion, .deletion:hover  {
  border: 2px solid #A6394F;
}

.editing, .editing:hover {
  border: 2px solid #E8BE52;
}
